<li>
  <%= link_to feed_path(feed.id), data: { menu_target: "item", feed_id: "feed_#{feed.id}", turbo_frame: "feed_panel" } do %>
    <div class="is-flex is-flex-direction-row">
      <div class="feed-icon-container mr-2">
        <% if feed.icon.present? %>
          <img src="<%= feed.icon %>" alt="Feed Icon", width="18px">
        <% else %>
          <%= icon('fas', 'rss') %>
        <% end %>
      </div>
    <span>
      <%= feed.name %>
    </span>
    </div>
  <% end %>
</li>
