<div id="<%= dom_id feed %>">
  <p>
    <strong>Name:</strong>
    <%= feed.name %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= feed.source %>
  </p>

  <p>
    <strong>Favorite:</strong>
    <%= feed.favorite %>
  </p>

</div>
