<li id="<%= dom_id feed %>">
  <a>
  <div class="is-flex is-flex-direction-row">
    <div class="feed-icon-container mr-2">
      <% if feed.icon.present? %>
        <img src="<%= feed.icon %>" alt="Feed Icon", width="18px">
      <% else %>
        <%= icon('fas', 'rss') %>
      <% end %>
    </div>
  <span>
    <%= feed.name %>
  </span>
  </div>
</a>
</li>
